@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
   font-family: Roboto;
}

table {
    border-collapse: collapse;
}

border, tr, td {
    border: 1px solid black;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
}

tr:first-child {
    background: #ff0000;
    font-weight: bold;
}

td:first-child {
    background: #00ff00;
    font-weight: bold;
}

tr:first-child td:first-child {
    background: #0000ff;
}

.diaog {
   background: #00ffff;
}
